<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    <title>db-pizzeria</title>
</head>
	<style>
	    .app-container {
	        width: 75vh;
	        margin-top: 100px;
	        margin-bottom: 100px;
	        justify-content: center;
	        align-items: center;
	    }
	
	    .main-text {
	        width: 500px;
	        height: 200px;
	    }
	</style>
<body>
	<div class="container app-container border border-dark rounded p-4 bg-danger">
	    <header th:replace="frags :: header"></header>
	    <main>
	        <div class="container">
	            <div class="row d-flex justify-content-center">
	                <div class="col-md-8 mt-5">
	                    <h1 class="text-center mb-4">LISTA DEGLI INGREDIENTI:</h1>
	                    <div class="text-center">
	                        <div th:if="${ingredienti.isEmpty()}">
	                            <h3>NON CI SONO INGREDIENTI DISPONIBILI!</h3>
	                        </div>
	                    </div>
	                    <div class="row justify-content-center">
	                        <div class="col-12 mt-3">
	                            <ul class="list-group text-center text-uppercase">
	                                <li th:each="ingrediente : ${ingredienti}" class="list-group-item border border-dark mx-2 text-danger">
	                                    <a th:href="@{/ingredienti/{ingredienteId} (ingredienteId = ${ingrediente.id})}" th:text="${ingrediente.nome}" class="text-decoration-none text-dark"></a>
	                                    <form
	                                            style="display:inline-block"
	                                            th:action="@{/ingredienti/delete/{id} (id=${ingrediente.id})}"
	                                            method="POST">
	                                        <input type="submit" value="DELETE" class="btn btn-sm btn-warning" sec:authorize="hasAuthority('ADMIN')">
	                                    </form>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 text-center pt-5" sec:authorize="hasAuthority('ADMIN')">
	                    <h3>CREA UN NUOVO INGREDIENTE</h3>
	                    <div class="col-12 py-4">
	                        <a href="/ingredienti/create" class="btn btn-warning">CREA</a>
	                    </div>
	                </div>
	                <div class="col-12 text-center mt-5">
						<a class="btn btn-warning" th:replace="frags :: home"></a>
					</div>
	            </div>
	        </div>
	    </main>
	</div>
<!-- Bootstrap Bundle with Popper -->
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
