<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<!-- Bootstrap CSS -->
 		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
		<title>db-pizzeria</title>
	</head>
	<style>
		.app-container{
			width: 75vh;
			margin-top: 100px;
			margin-bottom: 100px;
			justify-content: center;
			align-items: center;
		}

		.main-text{
			width: 500px;
			height: 200px;
		}
	</style>
	<body>
		<div class="container app-container border border-dark rounded p-4 bg-danger">
		    <header th:replace="frags :: header"></header>
		    <main>
		        <div class="container">
		            <div class="row text-center">
		                <div class="col-12">
		                    <h1 class="text-center mb-4">CREA LA TUA OFFERTA:</h1>
		                    <form th:object="${offerta}"
								method="POST">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<label for="titolo">TITOLO:</label>
								<br>
								<input type="text" name="titolo" id="titolo" th:field="*{titolo}">
								<br>
								<label for="data_inizio">DATA INIZIO:</label>
								<br>
								<input type="date" name="data_inizio" th:value="*{data_inizio}">
								<br>
								<label for="data_fine">DATA FINE:</label>
								<br>
								<input type="date" name="data_fine" id="data_fine"  th:value="*{data_fine}">
								<br>
								<input class="btn btn-warning mt-5" type="submit" value="STORE">
								<div class="col-12 text-center mt-5">
									<a class="btn btn-warning" th:replace="frags :: home"></a>
								</div>
							</form>
		                </div>
		            </div>
		        </div>
		    </main>
		</div>
		<!-- Bootstrap Bundle with Popper -->
 		<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>